<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
body {
	  font-family: "Montserrat", sans-serif;
	  transition: background-color .5s;
	}

    #logo {
            width: 80px;
        }
    

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A5D9FF;
  transition: 0.5s;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.submit {
    float: right;
    
}

input[type=submit] {
    background-color: #e7e7e7; 
    color: black;
    padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}
.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  padding-top: 50px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: white;
}

.sidenav a:active {
  color: white;
}


.lines{
    background-color: #fff;
	background-image:
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.11em;
    resize: none;
    width: calc(100% - 30px);
    height:500px;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 15px;
    
    
  


}



.bigbox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}

.bigbox > div {
        margin: 8px;
    }

.box {
    border: solid 2px;
    width: 30%;
}
.box2 {
    padding-left: 20px;
    
}

.input {
    border: none;
    font-family: inherit;
    width: calc(100% - 30px);
}

.small a{
    font-size: 20px;
}

#date-save {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
#btn {
	font-family: inherit;
	width: 8%;
	height: 38px;
	border-radius: 10px;
	background: #fff;
	border: solid 1px;
}

#btn:hover {
	cursor: pointer;
}

#btn-save {
	font-family: inherit;
	width: 8%;
	height: 38px;
	border-radius: 10px;
	background: #fff;
	border: solid 1px;
}

#btn-save:hover {
	cursor: pointer;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 250px;
  
}

@media (max-width: 700px) {
    .bigbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
        
    }

    .bigbox > div {
        margin: 8px;
    }

    .box {
        width: 90%;
        margin: auto;
        flex-basis: 10%;
    }

    .box2 {
    padding-left: 20px;
    
    }

    #btn {
        /* width: calc(100% - 400px); */
        width: 15%;
    }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px; margin: 10px 20px;}
}

@media screen and (max-width: 1000px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A5D9FF;
    transition: 0.5s;
    }

    .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    padding-top: 1px;
    text-decoration: none;
    font-size: 15px;
    display: inline;
    color: black;
    }

    #main {
    padding: 16px;
    margin-left: 50px;
    padding-top: 30px;
    }

    .small {
        text-align: center;
    }
    #logo {
		display: none; }

       
	}
    .sidenav a{
		margin: 10px;
                  
    }
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
    <div class="small">
        <a href="index.html" ><img src="LOGO-l.png" alt="logo" id="logo"
            style="padding-bottom: 50px;"></a>
        <a href="index.html" >HOME</a>
        <a href="calendar.html" >CALENDAR</a>
        <a href="notes.html" style="color: #fff;">NOTES</a>
        <a href="/login"><button type="button" id="btn" class="loginbtn" style="border: none; height: 25px; width: 55px;">LOGIN</button></a>
        <form action="/logout?_method=DELETE" method="POST">
            <a href=""><button type="submit" id="btn3" class="loginbtn" style="border: none; height: 25px; width: 66px; border-radius: 10px;
                background: #fff; font-family: inherit;">LOGOUT</button></a>
        </form>
        </div>
</div>

<div id="main">
    <div id="date-save">
    <h2 style="width: 80%; display: inline-block;">NOTES</h2>
    <button type="button" id="btn-save">SAVE</button>
    </div>

    <form id="notes-form" action="/notes" method="POST">

        <div class="bigbox"> 
            <div class="box">
                <h4 class="box2"><input type="text" id="title1" class="input" name="title1" value="Notes Title 1"></h4>
                <textarea id="text1" name="textare1" class="lines"></textarea>
            </div>
            <div class="box">
                <h4 class="box2"><input type="text" id="title2" class="input" name="title2" value="Notes Title 2"></h4>
                <textarea id="text2" name="textare2" class="lines"></textarea>
            </div>
            <div class="box">
                <h4 class="box2"><input type="text" id="title3" class="input" name="title3" value="Notes Title 3"></h4>
                <textarea id="text3" name="textare3" class="lines"></textarea>
            </div>
        </div>
        
        <div class="bigbox"> 
            <div class="box">
                <h4 class="box2"><input type="text" id="title4" class="input" name="title4" value="Notes Title 4"></h4>
                <textarea id="text4" name="textare4" class="lines"></textarea>
            </div>
            <div class="box">
                <h4 class="box2"><input type="text" id="title5" class="input" name="title5" value="Notes Title 5"></h4>
                <textarea id="text5" name="textare5" class="lines"></textarea>
            </div>
            <div class="box">
                <h4 class="box2"><input type="text" id="title6" class="input" name="title6" value="Notes Title 6"></h4>
                <textarea id="text6" name="textare6" class="lines"></textarea>
            </div>
        </div>



        
      
    </form>

    <script>
        let inputTitle1 = '<%= noteTitle1 %>'
        let inputTitle2 = '<%= noteTitle2 %>'
        let inputTitle3 = '<%= noteTitle3 %>'
        let inputTitle4 = '<%= noteTitle4 %>'
        let inputTitle5 = '<%= noteTitle5 %>'
        let inputTitle6 = '<%= noteTitle6 %>'

        document.getElementById("title1").value = inputTitle1
        document.getElementById("title2").value = inputTitle2
        document.getElementById("title3").value = inputTitle3
        document.getElementById("title4").value = inputTitle4
        document.getElementById("title5").value = inputTitle5
        document.getElementById("title6").value = inputTitle6

        let inputArea1 = '<%= noteText1 %>'
        let inputArea2 = '<%= noteText2 %>'
        let inputArea3 = '<%= noteText3 %>'
        let inputArea4 = '<%= noteText4 %>'
        let inputArea5 = '<%= noteText5 %>'
        let inputArea6 = '<%= noteText6 %>'


        document.getElementById("text1").value = inputArea1
        document.getElementById("text2").value = inputArea2
        document.getElementById("text3").value = inputArea3
        document.getElementById("text4").value = inputArea4
        document.getElementById("text5").value = inputArea5
        document.getElementById("text6").value = inputArea6

        

    </script>
 
  
</div>


<script>
$("#btn-save").on("click", function() {
				
				$("#notes-form").submit(); 

			});
</script>
   
</body>
</html> 